# Ignorar dependências e arquivos temporários
node_modules/
dist/
build/
.env
*.log
*.tmp
.DS_Store
Thumbs.db
.svg

# Ignorar arquivos de sistema
.vscode/
.idea/
*.bak

# Ignorar arquivos de cache
.cache/

# Permitir arquivos js e md
!*.js
!*.md
